.bookImage1 {
    width: 20vw;
    height: 30vw;
    align-items: right;
    border-radius: 4%;
    margin-left: 25vw;
    margin-top: 0.5vw;
    transform: translate(10%,0%);
    position: absolute;
  }
  
  .homePageContainer1 {
    width: 50vw;
    height: 38vw;
    color: white;
    border: solid;
    border-color: rgb(114, 83, 54);
    border-width: 0.4vw;
    /* align-items: center; */
    margin-left: 25vw;
    margin-right: 50%;
    margin-top: 3vw;
    display: inline-block;
    border-radius: 4%;
    background-color: rgb(212, 175, 106);
    transition: all .1s ease-in-out;
    cursor: pointer;

  }
  
  .homePageContainer1:hover {
    transform: scale(1.1);
  }
  
  .homePageTitles1 {
    font-size: 2vw;
    align-self: center;
    color: black;
    margin-left: 0.5vw;
    width: fit-content;
    ;
  }
  
  .homePageText1 {
    font-size: 1.2vw;
    align-items: center;
    color: black;
    margin-left: 0.5vw;
    width: fit-content;
  }
  
  .RankStar {
    width: fit-content;
    position: absolute
  }